<div class="container">
  <div class="row">
    <div class="col">
      <h2 style="text-align: center;">Add new Employee</h2>
      <form >
        <div class="mb-3">
          <label for="employeeId" class="form-label">Employee Id</label>
          <input name ="employeeId" type="number" class="form-control" id="employeeId" [disabled]="eid" [(ngModel)]="employeeId">
        </div>
     
        <div class="mb-3">
          <label for="employeeName" class="form-label">Employee Name</label>
          <input name="employeeName" type="text" class="form-control" id="employeeName" [(ngModel)]="employeeName">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!isForAdd" [disabled]="isForUpdate" (click)="addEmployee()">Add</button>
        <button type="button" [disabled]="isForAdd" class="btn btn-info" (click)=updateEmployeeInTable()>Update</button>
      </form>
    </div>
    <div class="col">
      <h2 style="text-align: center;">Employees Details</h2>
      <table class="table table-striped" *ngIf="!isEmpty()">
        <thead >
          <th *ngFor="let head of headers">{{head}}</th>
        </thead>
        <tbody>
          <tr *ngFor="let ed of employeeDetails;let i=index">
            <td>{{ed.id}}</td>
            <td>{{ed.Name}}</td>
            <button type="button" class="btn btn-info" (click)="updateEmployee(i)">Update</button>
            <button type="button" class="btn btn-warning" (click)="deleteEmployee(i)">Delete</button>
          </tr>
          
        </tbody>
      </table>
      <h2 *ngIf="isEmpty()">No Employees Details are here!!</h2>
    </div>
  </div>
</div>